dagster==1.12.20
dagster-k8s==0.28.20
dagster-postgres==0.28.20
dagster-dbt==0.28.20
dagster-aws==0.28.20
dagster-pyspark==0.28.20
boto3==1.42.66
dbt-core==1.10.20
dbt-spark==1.10.1
delta-spark==4.1.0
ipykernel==7.2.0
jupyterlab==4.5.6
duckdb==1.5.0
pandas==3.0.1
polars==1.38.1
pyarrow==23.0.1
pyspark==4.1.1
pytest==9.0.2
s3fs==2026.2.0
